# {{ ansible_managed|comment }}
{% if elasticsearch_configuration is defined and elasticsearch_configuration != [] %}
{{ elasticsearch_configuration|to_nice_yaml }}
{% endif %}
{% if (es_version is version_compare('6.0.0', '<')) %}
path.conf: {{ es_conf_dir }}
{% endif %}
discovery.zen.ping.unicast.hosts: ["{{ groups['esdata'] | map('extract', hostvars, ['ansible_nodename']) | join('", "')}}"]



